.footer {
    width: 100%;
    max-width: 1144px;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
}

.footer .container {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0rem;
}

.footer .container .footer-list {
    padding: 1rem;
}

.footer .container .footer-list .footer-item {
    color: #003580;
    cursor: pointer;
}

.footer .footer-text {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    opacity: .7;
}